.progress-pill {
  display: block;
  align-self: center;
  margin-right: 8px;
  background-color: green;
  color: white;
  border-radius: 12px;
  padding: 2px 5px 3px 5px;
  font-size: 0.65rem;
    &.complete {
      background-color: red;
    }
}

.progress-pill:hover {
  cursor: pointer;
}

.assigned-person {
  width: 24vw;
  font-size: 1rem;
}

.delete-button {
  font-size: 0.8rem;
  border: none;
  background-color: white;
  font-weight: bold;
  color: grey;
  transition: 350ms;
}

.delete-button:hover {
  color: red;
  transform: scale(1.2);
}

.true {
  background-color: hotpink;
}

.false {
  background-color: lime;
}

.page-bar {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-pref {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}